
.body {
  background: #e4ebf1;
}
hr {
  border-color: inherit;
  margin: 1em 0;
}

#userImg, 
#matchImg {
   height: 200;
/*   width: 200; */
}

/* Survey - Custom radio buttons */

/*
.radio-inline {
  margin-left: 17px; 
  width: 75px;
}
*/

.radio-inline {
  text-align: center; 
  width: 80px;
}

.button-heading {
    text-align: center;
    font-size: 12px;
}

.survey-list {
    text-align: center;
    font-size: 12px;
}

.odd-question {
    background-color:lavender;
    line-height: 18px;
}
.even-question {
    background-color:rgb(170, 170, 173);
    line-height: 18px;
}
